<style type="text/css">
* {
  padding:0;
  margin:0;
}
 
li {
  list-style: none;
}


.col-md-4 li a{ 
  color: #000;
  background-color: #fff;
  text-decoration: none;
}

.col-md-4 li a:hover{ 
  color: #038ed4;
}
</style>




<div class="container">
  
  <ul>
    <li class="col-md-4">
      <div class="user_info">
       <% @user ||= current_user %>
        <div class="panel panel-default">
          <div class="panel-body">
            <%= link_to gravatar_for(@user, size: 50), @user %>
              <h4 style="margin:0"><%= @user.name %></h4>
              <span><%= link_to pluralize(@user.microposts.count, "micropost"), current_user %></span><br /><br />
               <%= render 'shared/stats' %>
          </div>
        </div>
    </div>
    
      <div class="panel panel-default">
        <ul class="list-group">
          <li class="list-group-item"><a href="#"><strong><%= I18n.t("views.common.Account") %></strong></a></li>
          <li class="list-group-item"><a href="#"><%= I18n.t("views.common.Security and privacy") %></a></li>
          <li class="list-group-item"><a href="#"><%= I18n.t("views.common.Password") %></a></li>
          <li class="list-group-item"><a href="#"><%= I18n.t("views.common.Cards and shipping") %></a></li>
          <li class="list-group-item"><a href="#"><%= I18n.t("views.common.Order history") %></a></li>
          <li class="list-group-item"><a href="#"><%= I18n.t("views.common.Mobile") %></a></li>
          <li class="list-group-item"><a href="#"><%= I18n.t("views.common.Email notifications") %></a></li>
          <li class="list-group-item"><a href="#"><%= I18n.t("views.common.Web notifications") %></a></li>
          <li class="list-group-item"><a href="#"><%= I18n.t("views.common.Find friends") %></a></li>
          <li class="list-group-item"><a href="#"><%= I18n.t("views.common.Muted accounts") %></a></li>
          <li class="list-group-item"><a href="#"><%= I18n.t("views.common.Blocked accounts") %></a></li>
          <li class="list-group-item"><a href="#"><%= I18n.t("views.common.Design") %></a></li>
          <li class="list-group-item"><a href="#"><%= I18n.t("views.common.Apps") %></a></li>
          <li class="list-group-item"><a href="#"><%= I18n.t("views.common.Widgets") %></a></li>
          <li class="list-group-item"><a href="#"><%= I18n.t("views.common.Your Twitter data") %></a></li>
        </ul>
      <div>
    </li>

  <li class="col-md-8">
    
      <%= form_for(@user) do |f| %>
        <% if @user.errors.present? %>
          <div class="alert alert-danger">
            <%= alert %>
             <ul>
               <% @user.errors.full_messages.each do |full_message| %>
                 <li>
                  <%= full_message %>
                 </li>
               <% end %> 
             </ul>
           </div>
         <% end %>
   <div class="panel panel-default">
        <ul class="list-group">
          <li class="list-group-item" id="user"><span style="font-size:25px;"><%= I18n.t("views.common.Account") %></span>
            <br /><%= I18n.t("views.common.Change your basic account and language settings") %>
          </li>   
      
      <li class="list-group-item">
        <form class="form-horizontal">
          <div class="form-group">
            <label for="inputName3" class="col-sm-3 control-label"><%= I18n.t("views.common.Username") %></label>
              <div class="col-sm-9">
                <%= f.text_field :name %>
              </div>
          </div>
    
          <div class="form-group">
            <label for="inputEmail3" class="col-sm-3 control-label"><%= I18n.t ("views.common.Email") %></label>
              <div class="col-sm-9"> 
                <%= f.text_field :email %>
              </div>
           </div>
           
           <div class="form-group">
            <label for="inputEmail3" class="col-sm-3 control-label"><%= I18n.t ("views.common.Area") %></label>
              <div class="col-sm-9"> 
                <%= f.text_field :area %>
              </div>
           </div>
     
      <%= f.submit class: "btn btn-sm btn-primary" %>
    
       </form>
      </li>
     </ul>
     </div>
    <% end %>        
   
  </li>
 </ul>
</div>