<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <% @user ||= current_user %>
        <div class="panel panel-default">
          <div class="panel-body">
            <%= link_to gravatar_for(@user, size: 50), @user %>
              <h1><%= @user.name %></h1>
                <span><%= pluralize(@user.microposts.count, "micropost") %></span><br />
                  <%= render 'shared/stats' %>
          </div>
        </div>
    </section>
  </aside>
  
  <div class="col-md-8">
    <%= render 'follow_form' if logged_in? %>
      <% if @user.microposts.any? %>
        <h3><%= I18n.t "MicropostFeed" %>(<%= @user.microposts.count %>)</h3>
          <ol class="microposts">
            <%= render @microposts %>
          </ol>
      <% end %>
  </div>
</div>

