<style type="text/css">
  


li #user span {
  font-size:25px;
}


li {
  list-style: none;
}



.col-md-3 li a{ 
  color: #000;
  background-color: #fff;
  text-decoration: none;
}

.col-md-3 li a:hover{ 
  color: #038ed4;
  

}



</style>




<div class="container">
  <% if notice %>
      <div class="alert alert-info">
        <%= notice %>
      </div>
    <% end %>
    <h1>
    <%= gravatar_for @user %>
   </h1>
    

    <ul>
    <li class="col-md-3">
    <div class="panel panel-default">
    
      
        
        <ul class="list-group">
          
          <li class="list-group-item"><a href="#">ユーザー情報</a></li>
          <li class="list-group-item"><a href="#">セキュリティーとプライバシー</a></li>
          <li class="list-group-item"><a href="#">パスワード</a></li>
          <li class="list-group-item"><a href="#">クレジットカードとお届け先</a></li>
          <li class="list-group-item"><a href="#">注文履歴</a></li>
          <li class="list-group-item"><a href="#">モバイル</a></li>
          <li class="list-group-item"><a href="#">メール通知</a></li>
          <li class="list-group-item"><a href="#">Web通知</a></li>
          <li class="list-group-item"><a href="#">友達を見つける</a></li>
          <li class="list-group-item"><a href="#">ミュートしているアカウント</a></li>
          <li class="list-group-item"><a href="#">ブロックしたアカウント</a></li>
          <li class="list-group-item"><a href="#">デザイン</a></li>
          <li class="list-group-item"><a href="#">アプリ連携</a></li>
          <li class="list-group-item"><a href="#">ウィジェット</a></li>
          <li class="list-group-item"><a href="#">Twitterデータ</a></li>
        </ul>

       
     
    <div>
  </li>

  
<li class="col-md-9">

  <div class="panel panel-default">
    <ul class="list-group">

      <li class="list-group-item" id="user"><span>ユーザー情報</span>
      <br />アカウント情報と言語設定を変更します(<%= link_to "edit" , edit_user_path %>)</li>  
      
     
  
  
 



 <li class="list-group-item">
<form class="form-horizontal">
  <div class="form-group">
    <label for="inputName3" class="col-sm-2 control-label">ユーザー名</label>
    <div class="col-sm-10">
     <%= @user.name %>
    
    </div>
  </div>

  <div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">メールアドレス</label>
    <div class="col-sm-10"> 
      <%= @user.email %>
    </div>
  </div>

   <div class="form-group">
    <label for="inputcountry3" class="col-sm-2 control-label">地域</label>
    <div class="col-sm-10">
     <%= @user.area %>
    </div>
  </div>

  
</form>
      </li>
      </ul>
        
      </div>
     </li>

    </ul>

</div>