<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Microposts", root_path, id: "logo" %>
      <nav>
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to I18n.t("views.common.Home"), root_path %></li>
          <li><%= link_to I18n.t ("views.common.Help"), '#' %></li>
            <% if logged_in? %>
          <li><%= link_to I18n.t("views.common.Users"), followings_user_path(current_user) %></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= I18n.t("views.common.Account") %><b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><%= link_to I18n.t("views.common.User"), current_user %></li>
                <li><%= link_to I18n.t("views.common.Settings"), profile_user_path(current_user) %></li>
                <li class="divider"></li>
                <li> <%= link_to I18n.t("views.common.Log out"), logout_path, method: "delete" %></li>
              </ul>
          </li>
            <% else %>
          <li><%= link_to I18n.t("views.common.Log in"), login_path %></li>
            <% end %>
          <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= I18n.t("views.common.Language") %><b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><%= link_to_if params[:locale].present?, I18n.t("views.common.Japanese"),  url_for(controller: controller.controller_name, action: controller.action_name, locale: 'ja') %></li>
              <li><%= link_to_if params[:locale] != 'en',  I18n.t("views.common.English"),  url_for(controller: controller.controller_name, action: controller.action_name, locale: 'en') %></li>
            </ul>
          </li>
        </ul>
      </nav>
  </div>
</header>